:root {
    --themeColor: #fff;
    --theme: #897dfa;
    --bgColor: #f8f9fc;
    --fontColor: #fff;
    --fontSubColor: #999;
    --headerColor: #e5e4e8;
    --contentFontColor: #2b2c33;
    --contentBgColor: #897dfa;
    --mesInputColor: #fff;
    --mesInputFontColor: #2b2c33;
}

.App {
    height: 100%;
    background-color: var(--bgColor);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    width: 5px;
    background: none;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
    width: 5px;
    height: 0px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    transition: .3s;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    transition: .3s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.45)
}